</br>
<% if user_signed_in? %>
<div class="jumbotron center">
  <h1 class="center-header">Bicyclopedia</h1>
  <p>Online resource for creating bicycling markdown wikis.</p>
 <div class="row">
    <div class="col-md-6">
      <h2>Become a premium member!</h2>
      <p>Premium users have access to create private wikis.</p>
      <%= link_to "Upgrade to premium", new_charge_path, class: 'btn btn-primary btn-large' %>
   </div>
 </div>
</div>
  <% elsif %>
  <div class="jumbotron center">
    <h1 class="center-header">Bicyclopedia</h1>
    <p>Online resource for creating bicycling markdown wikis.</p>
<div class="row">
  <div class="col-md-6">
    <h2>Sign up for free</h2>
    <p>Create public bicycling wikis.</p>
      <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary btn-large' %>
  </div>
</div>
</div>
<% end %>
