<h1>Wiki's</h1>
<% @wikis.each do |wiki| %>
   <div class="media">
     <div class="media-body">
       <h4 class="media-heading">
         <li><%= link_to wiki.title, wiki_path(wiki) %></li>
       </h4>
     </div>
   </div>
<% end %>
